.test {
    background-image: url("aid1535340-728px-Work-from-Home-Doing-Medical-Billing-and-Coding-Step-3-Version-2.jpg")
}



#cool {
    background-color: blue;
}

#myCarousel {
    position: relative;
    margin: 0 auto;
    top: 50px;
}